@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&display=swap");
* {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  word-break: keep-all;
  padding: 0;
  margin: 0;
}

#app {
  font-size: 3em;
  padding: 160px 0;
}

#app span b {
  color: #000;
  font-weight: 700;
  font-size: 1em;
}

address {
  font-style: normal;
}

.anifont {
  color: white;
  background-size: cover;
  word-break: keep-all;
  background: url(../img/placeF.svg);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  -webkit-filter: saturate(0.4) brightness(1.1);
          filter: saturate(0.4) brightness(1.1);
}

.now .anifont {
  background-size: cover;
}

.gradi {
  background: #019fbf;
  background: linear-gradient(200deg, #14c48e 0%, #019fbf 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.wrap1280 {
  width: 100%;
  margin: 0 auto;
  max-width: 1220px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

a.exLink {
  font-weight: 700;
  padding: 16px 64px;
  border-radius: 3px;
  color: #fff;
  background-color: #019ebf;
}

a.exLink:hover {
  background-color: #017a93;
}

a.email {
  color: #019ebf;
}

a.email:hover {
  opacity: 0.7;
}

#typewriter .Typewriter__wrapper,
#typewriter .Typewriter__cursor {
  color: #000 !important;
  font-weight: 400;
}

#typewriter .Typewriter__wrapper b,
#typewriter .Typewriter__cursor b {
  color: #019ebf !important;
  font-weight: 700;
}

.mobile_ham {
  display: none;
  cursor: pointer;
  float: right;
}

.mobile_ham.on span {
  -webkit-transform: rotate(45deg) translate(7px, 7px);
          transform: rotate(45deg) translate(7px, 7px);
}

.mobile_ham.on span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mobile_ham span {
  display: block;
  background-color: #000;
  width: 26px;
  height: 5px;
  margin-bottom: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
  font-size: 16px;
}

header img.logo {
  height: 20px;
  float: left;
}

header nav {
  float: right;
  font-weight: 700;
}

header nav.white ul li a {
  color: #fff;
}

header nav.white .mobile_ham span {
  background: #fff;
}

header nav ul li {
  display: inline-block;
  margin-left: 45px;
}

header nav ul li a {
  color: #444;
  font-size: 1.1em;
  line-height: 2em;
}

header nav ul li a:hover {
  color: #019ebf;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body {
  overflow-x: hidden;
  font-size: 16px;
}

body .copy {
  display: none;
}

body .wrap {
  width: 1240px;
  margin: 0 auto;
}

body .contents h1 {
  font-weight: 700;
}

body.main {
  background-color: #000;
}

body.main .contents {
  background-color: #fff;
}

body.main .btn2 {
  display: inline-block;
  width: 171px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  background-color: rgba(1, 158, 191, 0.7);
  padding: 12px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body.main .btn2 i {
  font-size: 16px;
  float: right;
}

body.main h1 {
  text-align: left;
  line-height: 1.5;
  font-weight: 700;
}

body.main .video-hero {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*
  -webkit-filter: grayscale(0.7) contrast(1.1) brightness(1.3);
          filter: grayscale(0.7) contrast(1.1) brightness(1.3);
  */
}

body.main .video-hero video {
  height: 111%;
  position: absolute;
  z-index: -1;
}

body.main .video-hero .desc {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

body.main .video-hero .desc h1 {
  color: #fff;
  text-align: center;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

body.main .video-hero .desc h1 img {
  width: 15%;
  mix-blend-mode: difference;
}

@media all and (max-width: 450px) {
  body.main .video-hero video {
    min-width: 1100px;
  }
}

body.main .contents .about h1 {
  margin: 10vh 0;
}

body.main .contents .about .btn2 {
  float: left;
}

body.main .contents section {
  text-align: left;
}

body.main .contents section .btn2 {
  float: left;
  margin-top: 100px;
}

body.main .contents section.bgGray {
  background-color: #f4f4f4;
}

body.main .contents section h1 {
  font-size: 1.5em;
  margin: 0;
}

body.main .contents section h1::before {
  display: block;
  content: "";
  width: 32px;
  height: 3px;
  background-color: #019ebf;
  margin-bottom: 35px;
}

body.main .contents section h2 {
  font-size: 3em;
  padding: 30px 0;
}

body.main .contents section h3 {
  word-break: unset;
}

body.main .contents section h3 br {
  display: inline;
  content: " ";
  clear: none;
}

body.main .contents section.work {
  background-image: url(../img/works.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body.main .contents section.work h1,
body.main .contents section.work h2,
body.main .contents section.work p {
  color: #fff;
}

body.main .contents section.career.ff {
  padding: 20vh;
  background-image: url(../img/workcontact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body.main .contents section.career.ff h1,
body.main .contents section.career.ff h2,
body.main .contents section.career.ff p {
  color: #fff;
}

body.main .contents section.typing {
  padding: 0;
}

body.main .contents section.typing h1 {
  margin-bottom: 0;
}

body.main .contents section.partners {
  overflow: hidden;
  position: relative;
}

body.main .contents section.partners .bg-left {
  width: 50vw;
  height: 870px;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  background-image: url(../img/partners.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

body.main .contents section.career {
  float: left;
  width: 100%;
  height: 883px;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../img/career.jpg);
  background-size: cover;
  background-position: 50% 65%;
}

body.main .contents section.career .bottomBG {
  background-image: url(../img/grayBG.jpg);
  height: 640px;
  background-size: cover;
  background-position: 50% 50%;
}

body.career {
  text-align: center;
}

body.career .contents {
  width: 100%;
  float: left;
  position: relative;
  z-index: 10;
}

body.career .contents h1 {
  margin-bottom: 60px;
}

body.career .contents section {
  padding: 200px 0;
  float: left;
  width: 100%;
}

body.career .contents section.join {
  background-image: url(../img/joinBG.jpg);
  height: 700px;
  background-size: cover;
  background-position: 50% 50%;
}

body.career .contents section .c680 {
  width: 680px;
  margin: 0 auto;
}

body.career .contents article {
  padding-top: 100px;
  background-color: #eee;
  width: 100%;
  float: left;
}

body.career .contents article .wrap {
  width: 100%;
  max-width: 830px;
}

body.career .contents article .wrap p {
  float: left;
  width: 450px;
  margin-top: 10px;
  text-align: left;
}

body.career .contents article .wrap p span {
  color: #019ebf;
}

body.career .contents article .wrap img {
  height: 340px;
  float: right;
}

body.career .contents article .wrap.rev p {
  float: right;
}

body.career .contents article .wrap.rev img {
  float: left;
}

body.works {
  background-color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  max-width: 1220px;
  display: inline-block;
  text-align: center;
}

ul.c3 li {
  width: 32%;
  margin-right: 2%;
  float: left;
  background-size: cover;
  border-radius: 3px;
}

ul.c3 li:last-child {
  margin: 0;
}

ul.c3 li:nth-child(1) {
  background-image: url(../img/whosia01.jpg);
}

ul.c3 li:nth-child(2) {
  background-image: url(../img/whosia02.jpg);
}

ul.c3 li:nth-child(2) .blurCon {
  color: rgba(0, 0, 0, 0.8);
}

ul.c3 li:nth-child(3) {
  background-image: url(../img/whosia03.jpg);
}

ul.c3 li:nth-child(3) .blurCon {
  color: rgba(0, 0, 0, 0.8);
}

ul.c2 {
  margin-top: 120px;
}

ul.c2 > li {
  width: 49%;
  float: left;
  background-color: #eee;
  background-size: cover;
}

ul.c2 > li:first-child {
  background-image: url(../img/cal.png);
}

ul.c2 > li:last-child {
  float: right;
  background-image: url(../img/money.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

ul.c2 .blurCon {
  height: 400px;
  color: rgba(0, 0, 0, 0.8);
}

ul.c2 .blurCon:hover ul {
  opacity: 0.7;
  margin-top: 0;
}

ul.c2 ul {
  list-style: disc;
  float: left;
  margin-left: 5px;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  margin-left: 20px;
}

ul.c2 ul li {
  float: left;
  height: auto;
  text-align: left;
  width: 100%;
  margin: 0;
  margin-bottom: 0.8em;
}

ul.c2 ul li:last-child {
  margin: 0;
}

li .blurCon {
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  width: 100%;
  height: 450px;
  color: #fff;
}

li .blurCon h2 {
  line-height: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: 400;
  font-size: 2em;
}

li .blurCon p {
  opacity: 0;
  margin-top: 10px;
  float: left;
  -webkit-transition: 1s;
  transition: 1s;
}

li .blurCon:hover {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

li .blurCon:hover p {
  opacity: 0.7;
  margin-top: 0;
}

li .blurCon:hover h2 {
  opacity: 0;
  line-height: 0;
}

li .blurCon h3 {
  margin-bottom: 20px;
  font-size: 1.5em;
}

h1,
h2,
h3,
h4 {
  line-height: 1.3em;
  font-weight: 700;
}

h1 span,
h2 span,
h3 span,
h4 span {
  color: #019ebf;
  font-size: 1em;
}

h4,
h5,
h6,
p {
  line-height: 1.5;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
  line-height: 1.5em;
}

.pageTit {
  font-size: 6em;
  width: 100%;
  max-width: 1220px;
  text-align: left;
  margin: 45vh auto 0;
}

.text-r {
  text-align: right;
}

.careerTop {
  width: 100%;
  float: left;
  color: #fff;
  position: relative;
}

.careerTop h1 {
  opacity: 0;
  margin-top: 43vh;
  margin-bottom: 10vh;
  float: left;
  width: 100%;
  text-align: center;
  font-size: 3em;
  font-weight: 700;
}

.careerTop h1.topCopy {
  margin-bottom: 0;
}

.careerTop .topBlack {
  width: 100%;
  float: left;
  padding-bottom: 20vh;
  height: 4700px;
}

.careerTop .topBlack h1 {
  position: fixed;
  z-index: 5;
}

.careerTop .careerBG {
  position: fixed;
  top: 30%;
  width: 100%;
  float: left;
}

.careerTop .careerBG h1,
.careerTop .careerBG h3,
.careerTop .careerBG p {
  opacity: 0;
}

.careerTop .careerBG .topCopy {
  margin-top: 23vh;
}

.careerTop .copy {
  width: 100%;
  padding-bottom: 70vh;
  position: absolute;
  text-align: center;
}

.careerTop .copy h1 {
  z-index: 5;
  margin: 16px 0 32px;
}

.careerTop .copy h3 {
  color: #019ebf;
  z-index: 5;
}

.careerTop .copy p {
  z-index: 5;
  width: 100%;
}

.careerTop .careerBG2 {
  width: 100%;
  height: 2335px;
  position: absolute;
  z-index: -1;
  background-image: url(../img/carBG.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.careerTop .careerBG2.fixed {
  position: fixed;
}

footer {
  width: 100%;
  float: left;
  font-size: 13px;
  padding: 30px 0;
  position: relative;
  background-color: #fff;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer ul li {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
}

footer ul li span {
  color: #019ebf;
}

@-webkit-keyframes hero {
  0% {
    background-position-y: 0px;
  }
  100% {
    background-position-y: -100px;
  }
}

@keyframes hero {
  0% {
    background-position-y: 0px;
  }
  100% {
    background-position-y: -100px;
  }
}

@keyframes hero {
  0% {
    background-position-y: 0px;
  }
  100% {
    background-position-y: -100px;
  }
}
/*# sourceMappingURL=style.css.map */