body.main .new_main_line{
}

body.main .new_main_text{
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 70px;
  /* or 140% */

  text-align: center;

  color: #FFFFFF;

  margin-top: 30px;
}

@media all and (max-width: 860px) {
  body.main .new_main_line{
  }

  body.main .new_main_text{
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    /* or 140% */
  
    text-align: center;
  
    color: #FFFFFF;
  
    margin-top: 30px;
  }
}